input:disabled {
  opacity: 0.7;
}

.form-group label,
%label {
  text-transform: uppercase;
  color: var(--label-form);
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

.form-group input,
%input {
  padding: 12px 16px;
  width: 100%;
  max-height: 48px;
  color: var(--background-header);
  border: 1px solid var(--border-form);
  font-size: 20px;
  line-height: 24px;
  border-radius: 4px;
  outline: none;
  display: block;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
}

.form-group input:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 3px #2061d133;
}

// Switch
.form-switch {
  position: relative;
}

.switch-wrapper {
  max-width: 60px;
  margin-top: 8px;
  cursor: pointer;
}

.switch {
  flex: none;
  width: 55px;
  height: 26px;
  display: inline-block;
  background: var(--border-form);
  border: 1px solid var(--border-form);
  box-shadow: 0 1px 4px #dadde233;
  border-radius: 100px;
  transition: background 0.3s;
}

.form-switch label {
  @extend %label;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  margin-bottom: 0 !important;
}

.form-switch input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  min-height: auto;
}

.switch::before {
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  background: var(--color-white);
  border: 1px solid var(--border-form);
  box-shadow: 0 1px 4px #dadde233;
  border-radius: 100px;
  transition: transform 0.3s;
}

input:checked + label .switch {
  background: var(--color-secondary);
}

input:checked + label .switch::before {
  transform: translateX(31px);
}

// Checkbox
.checkbox,
%checkbox {
  height: 16px;
  width: 16px;
}

.checkbox:checked {
  background: var(--color-secondary) !important;
}

// Auth
.form-group-auth label {
  @extend %label;
  font-size: 18px;
  line-height: 18px;
}

.form-group-auth label {
  display: block;
  margin-bottom: 12px;
}

.form-group-auth input {
  @extend %input;
  max-height: 76px;
  padding: 24px 32px;
  font-size: 28px;
  line-height: 28px;
  width: 100%;
}

%select {
  background: var(--color-btn-muted);
  border: 1px solid var(--border-form);
  border-radius: 4px;
  color: var(--background-card);
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.select {
  @extend %select;
  padding: 10px 10px;
  min-width: 200px;
  height: 44px;
}

.is-current {
  color: var(--color-white);
}

.is-grey {
  color: var(--color-grey);
}
